# Required keeper values
RPC_URL=https...
SUBGRAPH_URL=https...
QUOTE_TOKEN_ADDRESS=0x...
PRIVATE_KEY=0xabc...
VAULT_ADDRESS=0x...
VAULT_AUTH_ADDRESS=0x...

# Required keeper settings
KEEPER_INTERVAL_MS=43200000
OPTIMAL_BUCKET_DIFF=4

# Optional: difference to leave between the buffer deficit and the attempted move amount.
# This accounts for the slight variation in the value of totalAssets (due to interest accruing in Ajna).
# Should be specified in WAD.
# Defaults to 100000000000000 (1e14).
BUFFER_PADDING=100000000000000

# Optional: percentage of viem's gas estimation to add as padding to the gasLimit for move, moveToBuffer, and moveFromBuffer.
# This accounts for occasional viem gas underestimation for the functions that interact with Ajna, resulting in sporadic OutOfGas reversions.
# Defaults to 50 (50%).
GAS_BUFFER=50

# Optional: URL for offchain price queries.
# If ONCHAIN_ORACLE_PRIMARY is false and FIXED_PRICE is not set, this value is required.
ORACLE_API_URL=https...

# Optional: chain ID for the network.
# Defaults to 1 (mainnet).
CHAIN_ID=1

# Optional: wait for the defined number of confirmations for each transaction.
# Defaults to 1.
CONFIRMATIONS=1

# Optional: define the minimum severity of logged events during keeper run (info, warn, error).
# Defaults to info.
LOG_LEVEL=info

# Optional: skip move operation if quote token balance in bucket is less than the defined amount.
# Defaults to 1000001 (dust limit enforced by vault).
MIN_MOVE_AMOUNT=1000001

# Optional: abort keeper run if optimal bucket has a bankruptcy timestamp between this value and the current time.
# Must be in seconds.
# If set to zero, keeper will exit if the bucket has ever been bankrupt, regardless of how much time has passed since the bankruptcyTimestamp.
# Defaults to 72 hours (in seconds).
MIN_TIME_SINCE_BANKRUPTCY=259200

# Optional: only consider auctions with bad debt if they are older than this value.
# Must be in seconds.
# If set to zero, keeper will exit if any unsettled auctions exist with bad debt, regardless of their kick times.
# Defaults to 72 hours (in seconds).
MAX_AUCTION_AGE=259200

# Optional: this value determines whether the entire run exits if the subgraph query fails during the check for bad debt in the pool.
# Defaults to false.
EXIT_ON_SUBGRAPH_FAILURE=false

# A CoinGecko API key is not strictly required for the rate of queries made by this keeper.
#
# If a key is defined, the tier is also required, since the header is different for each request (demo or pro).
# If a key is not defined, the tier is not required.
ORACLE_API_KEY=CG-...
ORACLE_KEY_TIER=demo

# This keeper is designed to use Chronicle's onchain price feeds as a backup oracle if a Chronicle address is configured.
# 
# The onchain feed can be set as the primary oracle, which will switch CoinGecko into the backup position.
# If ONCHAIN_ORACLE_PRIMARY is set to true, the ONCHAIN_ORACLE_ADDRESS is required, but ONCHAIN_ORACLE_MAX_STALENESS is optional.
# If ONCHAIN_ORACLE_PRIMARY is not set, the ONCHAIN_ORACLE_ADDRESS and ONCHAIN_ORACLE_MAX_STALENESS values are both optional.
ONCHAIN_ORACLE_ADDRESS=0x...
ONCHAIN_ORACLE_PRIMARY=false
ONCHAIN_ORACLE_MAX_STALENESS=43200

# Optional: the keeper can be configured to skip both oracles and use a hard-coded price, defined here.
#
# This price is expected to be in a human-readable format (e.g. 1.00), and is converted into a valid price according to the assetDecimals defined in the Vault contract.
#
# CAUTION: an incorrect price can have a severe impact on the management of Vault funds. Use this option with care.
FIXED_PRICE=1.00

# Optional: timestamps from Chronicle may come with future timestamps, due to small variations between machine and block timestamps.
# The keeper rejects future timestamps if they exceed the FUTURE_SKEW_TOLERANCE.
# Must be in seconds.
# Defaults to 2 minutes (in seconds).
FUTURE_SKEW_TOLERANCE=120

# Optional: the test suite is designed to fork mainnet state.
# Since the RPC defined here may refer to any chain, the test suite needs a mainnet RPC for set up.
# By default, the test suite uses the free node at 'https://eth.drpc.org', but this node is rate-limited, which may cause unexpected test failures.
# To avoid this, another RPC can be defined here.
MAINNET_RPC_URL=https...
