# Required secrets
RPC_URL=https...
PRIVATE_KEY=0xabc...
SUBGRAPH_URL=https...

# A CoinGecko API key is not strictly required for the rate of queries made by this keeper.
#
# If a key is defined, the tier is also required, since the header is different for each request (demo or pro).
# If a key is not defined, the tier is not required.
ORACLE_API_KEY=CG-...
ORACLE_API_TIER=demo

# Optional: the test suite is designed to fork mainnet state.
# Since the RPC defined here may refer to any chain, the test suite needs a mainnet RPC for set up.
# By default, the test suite uses the free node at 'https://eth.drpc.org', but this node is rate-limited, which may cause unexpected test failures.
# To avoid this, another RPC can be defined here.
MAINNET_RPC_URL=https...
